<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Violet Store - Sarimbit Azzura</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="assets/img/violet_logo.png" rel="violet_logo">
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
      
        <!--  Main CSS File -->
        <link href="assets/css/style.css" rel="stylesheet">
      
      </head>
<body>
    
<!-- untuk Upload -->
<div class="container">

<h4> Gambar Slide </h4>
  <!-- batsan card -->
<div class="card">
  <h1>Slide Satu</h1>
  <div class="card-body">
<form enctype="multipart/form-data" method="post" action="/upload_img_slide_satu">
  <div class="form-group">
    <label for="exampleFormControlFile1">Slide Satu</label>
    <input accept="image/jpeg" type="file" name="upload_file_satu" class="form-control-file" id="exampleFormControlFile1">
  <input type="submit" value="Upload"/>
  </div>
</form>
<img src="/img/gambar_landing_page/<%=db_setting.img_slide.img_satu%>.jpg" alt="slide satu" class="img-thumbnail" width="304" height="236">
<form enctype="multipart/form-data" method="post" action="/edit_img_satu">
  <h6>judul</h6>
  <% if(db_setting.img_slide.img_satu_tulisan.judulproduk=="False"){%>
  <input name="judul_slide_satu" class="form-control" type="text" placeholder="Default input" required>
  <%} 
  else{
  %>
  <input name="judul_slide_satu" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_satu_tulisan.judulproduk %>" required>
    <%}%>
  <h6>Deskripsi</h6>
  <% if(db_setting.img_slide.img_satu_tulisan.deskripsi=="False"){%>
  <input name="deskripsi_slide_satu" class="form-control" type="text" placeholder="Default input" required>
  <%} 
  else{
  %>
  <input name="deskripsi_slide_satu" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_satu_tulisan.deskripsi %>" required>
    <%}%>
</form>
</div>
</div>
<!-- batasnya slide -->

  <!-- batsan card -->
  <div class="card">
    <h1>Slide dua</h1>
    <div class="card-body">
  <form enctype="multipart/form-data" method="post" action="/upload_img_slide_dua">
    <div class="form-group">
      <label for="exampleFormControlFile1">Slide dua</label>
      <input accept="image/jpeg" type="file" name="upload_file_dua" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <input type="submit" value="Upload" />
  </form>
  <img src="/img/gambar_landing_page/<%=db_setting.img_slide.img_dua%>.jpg" alt="slide dua" class="img-thumbnail" width="304" height="236">
  <form enctype="multipart/form-data" method="post" action="/edit_img_dua">
    <h6>judul</h6>
    <% if(db_setting.img_slide.img_dua_tulisan.judulproduk=="False"){%>
    <input name="judul_slide_dua" class="form-control" type="text" placeholder="Default input" required>
    <%} 
    else{
    %>
    <input name="judul_slide_dua" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_dua_tulisan.judulproduk %>" required>
      <%}%>
    <h6>Deskripsi</h6>
    <% if(db_setting.img_slide.img_dua_tulisan.deskripsi=="False"){%>
    <input name="deskripsi_slide_dua" class="form-control" type="text" placeholder="Default input" required>
    <%} 
    else{
    %>
    <input name="deskripsi_slide_dua" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_satu_tulisan.deskripsi %>" required>
      <%}%>
  </form>
  </div>
  </div>
  <!-- batasnya slide -->
    <!-- batsan card -->
    <div class="card">
      <h1>Slide tiga</h1>
      <div class="card-body">
    <form enctype="multipart/form-data" method="post" action="/upload_img_slide_tiga">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide tiga</label>
        <input accept="image/jpeg" type="file" name="upload_file_tiga" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <img src="/img/gambar_landing_page/<%=db_setting.img_slide.img_tiga%>.jpg" alt="slide tiga" class="img-thumbnail" width="304" height="236">
    <form enctype="multipart/form-data" method="post" action="/edit_img_tiga">
      <h6>judul</h6>
      <% if(db_setting.img_slide.img_tiga_tulisan.judulproduk=="False"){%>
      <input name="judul_slide_tiga" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="judul_slide_tiga" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_tiga_tulisan.judulproduk %>" required>
        <%}%>
      <h6>Deskripsi</h6>
      <% if(db_setting.img_slide.img_tiga_tulisan.deskripsi=="False"){%>
      <input name="deskripsi_slide_tiga" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="deskripsi_slide_tiga" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_satu_tulisan.deskripsi %>" required>
        <%}%>
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
    <!-- batsan card -->
    <div class="card">
      <h1>Slide empat</h1>
      <div class="card-body">
    <form enctype="multipart/form-data" method="post" action="/upload_img_slide_empat">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide empat</label>
        <input accept="image/jpeg" type="file" name="upload_file_empat" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <img src="/img/gambar_landing_page/<%=db_setting.img_slide.img_empat%>.jpg" alt="slide empat" class="img-thumbnail" width="304" height="236">
    <form enctype="multipart/form-data" method="post" action="/edit_img_empat">
      <h6>judul</h6>
      <% if(db_setting.img_slide.img_empat_tulisan.judulproduk=="False"){%>
      <input name="judul_slide_empat" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="judul_slide_empat" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_empat_tulisan.judulproduk %>" required>
        <%}%>
      <h6>Deskripsi</h6>
      <% if(db_setting.img_slide.img_empat_tulisan.deskripsi=="False"){%>
      <input name="deskripsi_slide_empat" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="deskripsi_slide_empat" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_satu_tulisan.deskripsi %>" required>
        <%}%>
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
        <!-- batsan card -->
        <div class="card">
          <h1>Slide lima</h1>
          <div class="card-body">
        <form enctype="multipart/form-data" method="post" action="upload_img_slide_lima">
          <div class="form-group">
            <label for="exampleFormControlFile1">Slide lima</label>
            <input accept="image/jpeg" type="file" name="upload_file_lima" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <input type="submit" value="Upload" />
        </form>
    <img src="/img/gambar_landing_page/<%=db_setting.img_slide.img_lima%>.jpg" alt="slide lima" class="img-thumbnail" width="304" height="236">
    <form enctype="multipart/form-data" method="post" action="/edit_img_lima">
      <h6>judul</h6>
      <% if(db_setting.img_slide.img_lima_tulisan.judulproduk=="False"){%>
      <input name="judul_slide_lima" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="judul_slide_lima" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_lima_tulisan.judulproduk %>" required>
        <%}%>
      <h6>Deskripsi</h6>
      <% if(db_setting.img_slide.img_lima_tulisan.deskripsi=="False"){%>
      <input name="deskripsi_slide_lima" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="deskripsi_slide_lima" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.img_slide.img_satu_tulisan.deskripsi %>" required>
        <%}%>
    </form>
        </div>
        </div>
        <!-- batasnya slide -->
</div>

<!-- untuk judul dan deskripsi -->

<div class="container">

  <h4> Judul dan Deskripsi </h4>
    <!-- batsan judul dan deskripsi -->
  <div class="card">
    <div class="card-body">
  </form>
  <form enctype="multipart/form-data" method="post" action="/edit_judul_dan_deskripsi_produk">
    <h6>judul</h6>
    <% if(db_setting.judul_dan_deskripsi_produk.judul=="False"){%>
    <input name="judul" class="form-control" type="text" placeholder="Judul" required>
    <%} 
    else{
    %>
    <input name="judul" class="form-control" value="<%=db_setting.judul_dan_deskripsi_produk.judul%>" type="text" placeholder="Judul" required>
    <%}%>
    <h6>jenis produk</h6>
    <% if(db_setting.judul_dan_deskripsi_produk.jenis_produk=="False"){%>
    <input name="jenis_produk" class="form-control" type="text" placeholder="jenis_produk" required>
    <%} 
    else{
    %>
    <input name="jenis_produk" class="form-control" value="<%=db_setting.judul_dan_deskripsi_produk.jenis_produk%>" type="text" placeholder="jenis_produk" required>
    <%}%>
    <h6>Deskripsi</h6>
    <% if(db_setting.judul_dan_deskripsi_produk.deskripsi_produk=="False"){%>
    <textarea name="deskripsi_produk" cols="130" rows="10"></textarea>
    <%} 
    else{
    %>
    <textarea name="deskripsi_produk" cols="130" rows="10"><%=db_setting.judul_dan_deskripsi_produk.deskripsi_produk%></textarea>
    <%}%>
    <input type="submit" value="simpan">
  </form>
  </div>
  </div>
  </div>

  <div class="container">

    <h4> Filter </h4>
      <!-- filter satu -->
    <div class="card">
      <div class="card-body">
    </form>
    <form enctype="multipart/form-data" method="post" action="/edit_filter_satu">
      <h6>Filter satu</h6>
      <% if(db_setting.filter.satu.nama=="False"){%>
      <input name="nama_filter" class="form-control" type="text" placeholder="nama" required>
      <%} 
      else{
      %>
      <input name="nama_filter" class="form-control" value="<%=db_setting.filter.satu.nama%>" type="text" placeholder="nama" required>
      <%}%>
      <% if(db_setting.filter.satu.get_filter=="False"){%>
        <input name="get_filter_satu" class="form-control" type="text" placeholder="get filter" required>
        <%} 
        else{
        %>
        <input name="get_filter_satu" class="form-control" value="<%=db_setting.filter.satu.get_filter%>" type="text" placeholder="get filter" required>
        <%}%>
      <input type="submit" value="simpan">
    </form>         
    </div>
    </div>
    <!-- filter satu -->
          <!-- filter satu -->
          <div class="card">
            <div class="card-body">
          </form>
          <form enctype="multipart/form-data" method="post" action="/edit_filter_dua">
            <h6>Filter dua</h6>
            <% if(db_setting.filter.dua.nama=="False"){%>
            <input name="nama_filter" class="form-control" type="text" placeholder="nama" required>
            <%} 
            else{
            %>
            <input name="nama_filter" class="form-control" value="<%=db_setting.filter.dua.nama%>" type="text" placeholder="nama" required>
            <%}%>
            <% if(db_setting.filter.dua.get_filter=="False"){%>
              <input name="get_filter_dua" class="form-control" type="text" placeholder="get filter" required>
              <%} 
              else{
              %>
              <input name="get_filter_dua" class="form-control" value="<%=db_setting.filter.dua.get_filter%>" type="text" placeholder="get filter" required>
              <%}%>
            <input type="submit" value="simpan">
          </form>
          </div>
          </div>
          <!-- filter dua -->
    <!-- filter tiga -->
    <div class="card">
      <div class="card-body">
    </form>
    <form enctype="multipart/form-data" method="post" action="/edit_filter_tiga">
      <h6>Filter tiga</h6>
      <% if(db_setting.filter.tiga.nama=="False"){%>
      <input name="nama_filter" class="form-control" type="text" placeholder="nama" required>
      <%} 
      else{
      %>
      <input name="nama_filter" class="form-control" value="<%=db_setting.filter.tiga.nama%>" type="text" placeholder="nama" required>
      <%}%>
      <% if(db_setting.filter.tiga.get_filter=="False"){%>
        <input name="get_filter_tiga" class="form-control" type="text" placeholder="get filter" required>
        <%} 
        else{
        %>
        <input name="get_filter_tiga" class="form-control" value="<%=db_setting.filter.tiga.get_filter%>" type="text" placeholder="get filter" required>
        <%}%>
      <input type="submit" value="simpan">
    </form>
    </div>
    </div>
    <!-- filter tiga -->
      <!-- filter empat -->
      <div class="card">
        <div class="card-body">
      </form>
      <form enctype="multipart/form-data" method="post" action="/edit_filter_empat">
        <h6>Filter empat</h6>
        <% if(db_setting.filter.empat.nama=="False"){%>
        <input name="nama_filter" class="form-control" type="text" placeholder="nama" required>
        <%} 
        else{
        %>
        <input name="nama_filter" class="form-control" value="<%=db_setting.filter.empat.nama%>" type="text" placeholder="nama" required>
        <%}%>
        <% if(db_setting.filter.empat.get_filter=="False"){%>
          <input name="get_filter_empat" class="form-control" type="text" placeholder="get filter" required>
          <%} 
          else{
          %>
          <input name="get_filter_empat" class="form-control" value="<%=db_setting.filter.empat.get_filter%>" type="text" placeholder="nama" required>
          <%}%>
        <input type="submit" value="simpan">
      </form>
      </div>
      </div>
      <!-- filter empat -->

      <!-- filter lima -->
    <div class="card">
      <div class="card-body">
    </form>
    <form enctype="multipart/form-data" method="post" action="/edit_filter_lima">
      <h6>Filter lima</h6>
      <% if(db_setting.filter.lima.nama=="False"){%>
      <input name="nama_filter" class="form-control" type="text" placeholder="nama" required>
      <%} 
      else{
      %>
      <input name="nama_filter" class="form-control" value="<%=db_setting.filter.lima.nama%>" type="text" placeholder="nama" required>
      <%}%>
      <% if(db_setting.filter.lima.get_filter=="False"){%>
        <input name="get_filter_lima" class="form-control" type="text" placeholder="get filter" required>
        <%} 
        else{
        %>
        <input name="get_filter_lima" class="form-control" value="<%=db_setting.filter.lima.get_filter%>" type="text" placeholder="get filter" required>
        <%}%>
      <input type="submit" value="simpan">
    </form>
    </div>
    </div>
    <!-- filter lima -->

      <!-- filter enam -->
      <div class="card">
        <div class="card-body">
      </form>
      <form enctype="multipart/form-data" method="post" action="/edit_filter_enam">
        <h6>Filter enam</h6>
        <% if(db_setting.filter.enam.nama=="False"){%>
        <input name="nama_filter" class="form-control" type="text" placeholder="nama" required>
        <%} 
        else{
        %>
        <input name="nama_filter" class="form-control" value="<%=db_setting.filter.enam.nama%>" type="text" placeholder="nama" required>
        <%}%>
        <% if(db_setting.filter.enam.get_filter=="False"){%>
          <input name="get_filter_enam" class="form-control" type="text" placeholder="get filter" required>
          <%} 
          else{
          %>
          <input name="get_filter_enam" class="form-control" value="<%=db_setting.filter.enam.get_filter%>" type="text" placeholder="get filter" required>
          <%}%>
        <input type="submit" value="simpan">
      </form>
      </div>
      </div>
      <!-- filter enam -->
    </div>

<!-- untuk img card -->
<div class="container">

  <h4> card img </h4>
    <!-- batsan card -->
  <div class="card">
    <h1>card Satu</h1>
    <div class="card-body">
  <form enctype="multipart/form-data" method="post" action="/upload_img_slide_satu">
    <div class="form-group">
      <label for="exampleFormControlFile1">Slide Satu</label>
      <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
    <input type="submit" value="Upload"/>
    </div>
  </form>
  <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_satu.img%>.jpg" alt="slide satu" class="img-thumbnail" width="304" height="236">
  <form enctype="multipart/form-data" method="post" action="/edit_img_card_satu">
    <h6>judul</h6>
    <% if(db_setting.all_img.img_satu.judulproduk=="False"){%>
    <input name="judul_img_card_satu" class="form-control" type="text" placeholder="Default input" required>
    <%} 
    else{
    %>
    <input name="judul_img_card_satu" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_satu.judulproduk %>" required>
      <%}%>
    <h6>Deskripsi</h6>
    <% if(db_setting.all_img.img_satu.deskripsiproduk=="False"){%>
    <input name="deskripsi_img_card_satu" class="form-control" type="text" placeholder="Default input" required>
    <%} 
    else{
    %>
    <input name="deskripsi_img_card_satu" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_satu.deskripsiproduk %>" required>
      <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_satu.filter=="False"){%>
      <input name="filter_img_card_satu" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_satu" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_satu.filter %>" required>
        <%}%>
  </form>
  </div>
  </div>
  <!-- batasnya slide -->
  
    <!-- batsan card -->
    <div class="card">
      <h1>card dua</h1>
      <div class="card-body">
    <form enctype="multipart/form-data" method="post" action="/upload_all_img_dua">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide dua</label>
        <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_dua.img%>.jpg" alt="slide dua" class="img-thumbnail" width="304" height="236">
    <form enctype="multipart/form-data" method="post" action="/edit_img_card_dua">
      <h6>judul</h6>
      <% if(db_setting.all_img.img_dua.judulproduk=="False"){%>
      <input name="judul_img_card_dua" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="judul_img_card_dua" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_dua.judulproduk %>" required>
        <%}%>
      <h6>Deskripsi</h6>
      <% if(db_setting.all_img.img_dua.deskripsiproduk=="False"){%>
      <input name="deskripsi_img_card_dua" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="deskripsi_img_card_dua" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_dua.deskripsiproduk %>" required>
        <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_dua.filter=="False"){%>
      <input name="filter_img_card_dua" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_dua" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_dua.filter %>" required>
        <%}%>s
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
      <!-- batsan card -->
      <div class="card">
        <h1>card tiga</h1>
        <div class="card-body">
      <form enctype="multipart/form-data" method="post" action="/upload_all_img_tiga">
        <div class="form-group">
          <label for="exampleFormControlFile1">Slide tiga</label>
          <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_tiga.img%>.jpg" alt="slide tiga" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_tiga">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_tiga.judulproduk=="False"){%>
        <input name="judul_img_card_tiga" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_tiga" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tiga.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_tiga.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_tiga" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_tiga" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tiga.deskripsiproduk %>" required>
          <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_tiga.filter=="False"){%>
      <input name="filter_img_card_tiga" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_tiga" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tiga.filter %>" required>
        <%}%>
      </form>
      </div>
      </div>
      <!-- batasnya slide -->
      <!-- batsan card -->
      <div class="card">
        <h1>card empat</h1>
        <div class="card-body">
      <form enctype="multipart/form-data" method="post" action="/upload_all_img_empat">
        <div class="form-group">
          <label for="exampleFormControlFile1">Slide empat</label>
          <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_empat.img%>.jpg" alt="slide empat" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_empat">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_empat.judulproduk=="False"){%>
        <input name="judul_img_card_empat" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_empat" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_empat.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_empat.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_empat" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_empat" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_empat.deskripsiproduk %>" required>
          <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_empat.filter=="False"){%>
      <input name="filter_img_card_empat" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_empat" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_empat.filter %>" required>
        <%}%>
      </form>
      </div>
      </div>
      <!-- batasnya slide -->
          <!-- batsan card -->
          <div class="card">
            <h1>card lima</h1>
            <div class="card-body">
          <form enctype="multipart/form-data" method="post" action=".upload_all_img_lima">
            <div class="form-group">
              <label for="exampleFormControlFile1">Slide lima</label>
              <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input type="submit" value="Upload" />
          </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_lima.img%>.jpg" alt="slide lima" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_lima">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_lima.judulproduk=="False"){%>
        <input name="judul_img_card_lima" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_lima" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lima.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_lima.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_lima" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_lima" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lima.deskripsiproduk %>" required>
          <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_lima.filter=="False"){%>
      <input name="filter_img_card_lima" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_lima" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lima.filter %>" required>
        <%}%>
      </form>
          </div>
          </div>      
          <!-- batasnya slide -->
              <!-- batsan card -->
  <div class="card">
    <h1>card enam</h1>
    <div class="card-body">
  <form enctype="multipart/form-data" method="post" action="/upload_img_slide_enam">
    <div class="form-group">
      <label for="exampleFormControlFile1">Slide enam</label>
      <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
    <input type="submit" value="Upload"/>
    </div>
  </form>
  <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_enam.img%>.jpg" alt="slide enam" class="img-thumbnail" width="304" height="236">
  <form enctype="multipart/form-data" method="post" action="/edit_img_card_enam">
    <h6>judul</h6>
    <% if(db_setting.all_img.img_enam.judulproduk=="False"){%>
    <input name="judul_img_card_enam" class="form-control" type="text" placeholder="Default input" required>
    <%} 
    else{
    %>
    <input name="judul_img_card_enam" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_enam.judulproduk %>" required>
      <%}%>
    <h6>Deskripsi</h6>
    <% if(db_setting.all_img.img_enam.deskripsiproduk=="False"){%>
    <input name="deskripsi_img_card_enam" class="form-control" type="text" placeholder="Default input" required>
    <%} 
    else{
    %>
    <input name="deskripsi_img_card_enam" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_enam.deskripsiproduk %>" required>
      <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_enam.filter=="False"){%>
      <input name="filter_img_card_enam" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_enam" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_enam.filter %>" required>
        <%}%>
  </form>
  </div>
  </div>
  <!-- batasnya slide -->
  
    <!-- batsan card -->
    <div class="card">
      <h1>card tuju</h1>
      <div class="card-body">
    <form enctype="multipart/form-data" method="post" action="/upload_all_img_tuju">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide tuju</label>
        <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_tuju.img%>.jpg" alt="slide tuju" class="img-thumbnail" width="304" height="236">
    <form enctype="multipart/form-data" method="post" action="/edit_img_card_tuju">
      <h6>judul</h6>
      <% if(db_setting.all_img.img_tuju.judulproduk=="False"){%>
      <input name="judul_img_card_tuju" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="judul_img_card_tuju" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tuju.judulproduk %>" required>
        <%}%>
      <h6>Deskripsi</h6>
      <% if(db_setting.all_img.img_tuju.deskripsiproduk=="False"){%>
      <input name="deskripsi_img_card_tuju" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="deskripsi_img_card_tuju" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tuju.deskripsiproduk %>" required>
        <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_tuju.filter=="False"){%>
      <input name="filter_img_card_tuju" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_tuju" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tuju.filter %>" required>
        <%}%>s
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
      <!-- batsan card -->
      <div class="card">
        <h1>card lapan</h1>
        <div class="card-body">
      <form enctype="multipart/form-data" method="post" action="/upload_all_img_lapan">
        <div class="form-group">
          <label for="exampleFormControlFile1">Slide lapan</label>
          <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_lapan.img%>.jpg" alt="slide lapan" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_lapan">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_lapan.judulproduk=="False"){%>
        <input name="judul_img_card_lapan" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_lapan" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lapan.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_lapan.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_lapan" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_lapan" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lapan.deskripsiproduk %>" required>
          <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_lapan.filter=="False"){%>
      <input name="filter_img_card_lapan" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_lapan" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lapan.filter %>" required>
        <%}%>
      </form>
      </div>
      </div>
      <!-- batasnya slide -->
      <!-- batsan card -->
      <div class="card">
        <h1>card sembilan</h1>
        <div class="card-body">
      <form enctype="multipart/form-data" method="post" action="/upload_all_img_sembilan">
        <div class="form-group">
          <label for="exampleFormControlFile1">Slide sembilan</label>
          <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_sembilan.img%>.jpg" alt="slide sembilan" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_sembilan">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_sembilan.judulproduk=="False"){%>
        <input name="judul_img_card_sembilan" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_sembilan" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sembilan.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_sembilan.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_sembilan" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_sembilan" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sembilan.deskripsiproduk %>" required>
          <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_sembilan.filter=="False"){%>
      <input name="filter_img_card_sembilan" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_sembilan" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sembilan.filter %>" required>
        <%}%>
      </form>
      </div>
      </div>
      <!-- batasnya slide -->
          <!-- batsan card -->
          <div class="card">
            <h1>card sepuluh</h1>
            <div class="card-body">
          <form enctype="multipart/form-data" method="post" action=".upload_all_img_sepuluh">
            <div class="form-group">
              <label for="exampleFormControlFile1">Slide sepuluh</label>
              <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input type="submit" value="Upload" />
          </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_sepuluh.img%>.jpg" alt="slide sepuluh" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_sepuluh">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_sepuluh.judulproduk=="False"){%>
        <input name="judul_img_card_sepuluh" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_sepuluh" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sepuluh.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_sepuluh.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_sepuluh" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_sepuluh" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sepuluh.deskripsiproduk %>" required>
          <%}%>
      <!-- batas  -->
      <h6>filter</h6>
      <% if(db_setting.all_img.img_sepuluh.filter=="False"){%>
      <input name="filter_img_card_sepuluh" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="filter_img_card_sepuluh" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sepuluh.filter %>" required>
        <%}%>
      </form>
          </div>
          </div>      
          <!-- batasnya slide -->
    <!-- batsan card -->
    <div class="card">
      <h1>card sebelas</h1>
      <div class="card-body">
    <form enctype="multipart/form-data" method="post" action="/upload_img_slide_sebelas">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide sebelas</label>
        <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
      <input type="submit" value="Upload"/>
      </div>
    </form>
    <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_sebelas.img%>.jpg" alt="slide sebelas" class="img-thumbnail" width="304" height="236">
    <form enctype="multipart/form-data" method="post" action="/edit_img_card_sebelas">
      <h6>judul</h6>
      <% if(db_setting.all_img.img_sebelas.judulproduk=="False"){%>
      <input name="judul_img_card_sebelas" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="judul_img_card_sebelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sebelas.judulproduk %>" required>
        <%}%>
      <h6>Deskripsi</h6>
      <% if(db_setting.all_img.img_sebelas.deskripsiproduk=="False"){%>
      <input name="deskripsi_img_card_sebelas" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="deskripsi_img_card_sebelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sebelas.deskripsiproduk %>" required>
        <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_sebelas.filter=="False"){%>
        <input name="filter_img_card_sebelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_sebelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sebelas.filter %>" required>
          <%}%>
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
    
      <!-- batsan card -->
      <div class="card">
        <h1>card duabelas</h1>
        <div class="card-body">
      <form enctype="multipart/form-data" method="post" action="/upload_all_img_duabelas">
        <div class="form-group">
          <label for="exampleFormControlFile1">Slide duabelas</label>
          <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_duabelas.img%>.jpg" alt="slide duabelas" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_duabelas">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_duabelas.judulproduk=="False"){%>
        <input name="judul_img_card_duabelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_duabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_duabelas.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_duabelas.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_duabelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_duabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_duabelas.deskripsiproduk %>" required>
          <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_duabelas.filter=="False"){%>
        <input name="filter_img_card_duabelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_duabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_duabelas.filter %>" required>
          <%}%>s
      </form>
      </div>
      </div>
      <!-- batasnya slide -->
        <!-- batsan card -->
        <div class="card">
          <h1>card tigabelas</h1>
          <div class="card-body">
        <form enctype="multipart/form-data" method="post" action="/upload_all_img_tigabelas">
          <div class="form-group">
            <label for="exampleFormControlFile1">Slide tigabelas</label>
            <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <input type="submit" value="Upload" />
        </form>
        <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_tigabelas.img%>.jpg" alt="slide tigabelas" class="img-thumbnail" width="304" height="236">
        <form enctype="multipart/form-data" method="post" action="/edit_img_card_tigabelas">
          <h6>judul</h6>
          <% if(db_setting.all_img.img_tigabelas.judulproduk=="False"){%>
          <input name="judul_img_card_tigabelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="judul_img_card_tigabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tigabelas.judulproduk %>" required>
            <%}%>
          <h6>Deskripsi</h6>
          <% if(db_setting.all_img.img_tigabelas.deskripsiproduk=="False"){%>
          <input name="deskripsi_img_card_tigabelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="deskripsi_img_card_tigabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tigabelas.deskripsiproduk %>" required>
            <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_tigabelas.filter=="False"){%>
        <input name="filter_img_card_tigabelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_tigabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tigabelas.filter %>" required>
          <%}%>
        </form>
        </div>
        </div>
        <!-- batasnya slide -->
        <!-- batsan card -->
        <div class="card">
          <h1>card empatbelas</h1>
          <div class="card-body">
        <form enctype="multipart/form-data" method="post" action="/upload_all_img_empatbelas">
          <div class="form-group">
            <label for="exampleFormControlFile1">Slide empatbelas</label>
            <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <input type="submit" value="Upload" />
        </form>
        <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_empatbelas.img%>.jpg" alt="slide empatbelas" class="img-thumbnail" width="304" height="236">
        <form enctype="multipart/form-data" method="post" action="/edit_img_card_empatbelas">
          <h6>judul</h6>
          <% if(db_setting.all_img.img_empatbelas.judulproduk=="False"){%>
          <input name="judul_img_card_empatbelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="judul_img_card_empatbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_empatbelas.judulproduk %>" required>
            <%}%>
          <h6>Deskripsi</h6>
          <% if(db_setting.all_img.img_empatbelas.deskripsiproduk=="False"){%>
          <input name="deskripsi_img_card_empatbelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="deskripsi_img_card_empatbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_empatbelas.deskripsiproduk %>" required>
            <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_empatbelas.filter=="False"){%>
        <input name="filter_img_card_empatbelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_empatbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_empatbelas.filter %>" required>
          <%}%>
        </form>
        </div>
        </div>
        <!-- batasnya slide -->
            <!-- batsan card -->
            <div class="card">
              <h1>card limabelas</h1>
              <div class="card-body">
            <form enctype="multipart/form-data" method="post" action=".upload_all_img_limabelas">
              <div class="form-group">
                <label for="exampleFormControlFile1">Slide limabelas</label>
                <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <input type="submit" value="Upload" />
            </form>
        <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_limabelas.img%>.jpg" alt="slide limabelas" class="img-thumbnail" width="304" height="236">
        <form enctype="multipart/form-data" method="post" action="/edit_img_card_limabelas">
          <h6>judul</h6>
          <% if(db_setting.all_img.img_limabelas.judulproduk=="False"){%>
          <input name="judul_img_card_limabelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="judul_img_card_limabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_limabelas.judulproduk %>" required>
            <%}%>
          <h6>Deskripsi</h6>
          <% if(db_setting.all_img.img_limabelas.deskripsiproduk=="False"){%>
          <input name="deskripsi_img_card_limabelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="deskripsi_img_card_limabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_limabelas.deskripsiproduk %>" required>
            <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_limabelas.filter=="False"){%>
        <input name="filter_img_card_limabelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_limabelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_limabelas.filter %>" required>
          <%}%>
        </form>
            </div>
            </div>      
            <!-- batasnya slide -->
                <!-- batsan card -->
    <div class="card">
      <h1>card enambelas</h1>
      <div class="card-body">
    <form enctype="multipart/form-data" method="post" action="/upload_img_slide_enambelas">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide enambelas</label>
        <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
      <input type="submit" value="Upload"/>
      </div>
    </form>
    <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_enambelas.img%>.jpg" alt="slide enambelas" class="img-thumbnail" width="304" height="236">
    <form enctype="multipart/form-data" method="post" action="/edit_img_card_enambelas">
      <h6>judul</h6>
      <% if(db_setting.all_img.img_enambelas.judulproduk=="False"){%>
      <input name="judul_img_card_enambelas" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="judul_img_card_enambelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_enambelas.judulproduk %>" required>
        <%}%>
      <h6>Deskripsi</h6>
      <% if(db_setting.all_img.img_enambelas.deskripsiproduk=="False"){%>
      <input name="deskripsi_img_card_enambelas" class="form-control" type="text" placeholder="Default input" required>
      <%} 
      else{
      %>
      <input name="deskripsi_img_card_enambelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_enambelas.deskripsiproduk %>" required>
        <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_enambelas.filter=="False"){%>
        <input name="filter_img_card_enambelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_enambelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_enambelas.filter %>" required>
          <%}%>
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
    
      <!-- batsan card -->
      <div class="card">
        <h1>card tujubelas</h1>
        <div class="card-body">
      <form enctype="multipart/form-data" method="post" action="/upload_all_img_tujubelas">
        <div class="form-group">
          <label for="exampleFormControlFile1">Slide tujubelas</label>
          <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_tujubelas.img%>.jpg" alt="slide tujubelas" class="img-thumbnail" width="304" height="236">
      <form enctype="multipart/form-data" method="post" action="/edit_img_card_tujubelas">
        <h6>judul</h6>
        <% if(db_setting.all_img.img_tujubelas.judulproduk=="False"){%>
        <input name="judul_img_card_tujubelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="judul_img_card_tujubelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tujubelas.judulproduk %>" required>
          <%}%>
        <h6>Deskripsi</h6>
        <% if(db_setting.all_img.img_tujubelas.deskripsiproduk=="False"){%>
        <input name="deskripsi_img_card_tujubelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="deskripsi_img_card_tujubelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tujubelas.deskripsiproduk %>" required>
          <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_tujubelas.filter=="False"){%>
        <input name="filter_img_card_tujubelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_tujubelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_tujubelas.filter %>" required>
          <%}%>s
      </form>
      </div>
      </div>
      <!-- batasnya slide -->
        <!-- batsan card -->
        <div class="card">
          <h1>card lapanbelas</h1>
          <div class="card-body">
        <form enctype="multipart/form-data" method="post" action="/upload_all_img_lapanbelas">
          <div class="form-group">
            <label for="exampleFormControlFile1">Slide lapanbelas</label>
            <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <input type="submit" value="Upload" />
        </form>
        <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_lapanbelas.img%>.jpg" alt="slide lapanbelas" class="img-thumbnail" width="304" height="236">
        <form enctype="multipart/form-data" method="post" action="/edit_img_card_lapanbelas">
          <h6>judul</h6>
          <% if(db_setting.all_img.img_lapanbelas.judulproduk=="False"){%>
          <input name="judul_img_card_lapanbelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="judul_img_card_lapanbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lapanbelas.judulproduk %>" required>
            <%}%>
          <h6>Deskripsi</h6>
          <% if(db_setting.all_img.img_lapanbelas.deskripsiproduk=="False"){%>
          <input name="deskripsi_img_card_lapanbelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="deskripsi_img_card_lapanbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lapanbelas.deskripsiproduk %>" required>
            <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_lapanbelas.filter=="False"){%>
        <input name="filter_img_card_lapanbelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_lapanbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_lapanbelas.filter %>" required>
          <%}%>
        </form>
        </div>
        </div>
        <!-- batasnya slide -->
        <!-- batsan card -->
        <div class="card">
          <h1>card sembilanbelas</h1>
          <div class="card-body">
        <form enctype="multipart/form-data" method="post" action="/upload_all_img_sembilanbelas">
          <div class="form-group">
            <label for="exampleFormControlFile1">Slide sembilanbelas</label>
            <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <input type="submit" value="Upload" />
        </form>
        <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_sembilanbelas.img%>.jpg" alt="slide sembilanbelas" class="img-thumbnail" width="304" height="236">
        <form enctype="multipart/form-data" method="post" action="/edit_img_card_sembilanbelas">
          <h6>judul</h6>
          <% if(db_setting.all_img.img_sembilanbelas.judulproduk=="False"){%>
          <input name="judul_img_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="judul_img_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sembilanbelas.judulproduk %>" required>
            <%}%>
          <h6>Deskripsi</h6>
          <% if(db_setting.all_img.img_sembilanbelas.deskripsiproduk=="False"){%>
          <input name="deskripsi_img_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="deskripsi_img_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sembilanbelas.deskripsiproduk %>" required>
            <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_sembilanbelas.filter=="False"){%>
        <input name="filter_img_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_sembilanbelas.filter %>" required>
          <%}%>
        </form>
        </div>
        </div>
        <!-- batasnya slide -->
            <!-- batsan card -->
            <div class="card">
              <h1>card duapuluh</h1>
              <div class="card-body">
            <form enctype="multipart/form-data" method="post" action=".upload_all_img_duapuluh">
              <div class="form-group">
                <label for="exampleFormControlFile1">Slide duapuluh</label>
                <input accept="image/jpeg" type="file" name="upload_file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <input type="submit" value="Upload" />
            </form>
        <img src="/img/gambar_landing_page/<%=db_setting.all_img.img_duapuluh.img%>.jpg" alt="slide duapuluh" class="img-thumbnail" width="304" height="236">
        <form enctype="multipart/form-data" method="post" action="/edit_img_card_duapuluh">
          <h6>judul</h6>
          <% if(db_setting.all_img.img_duapuluh.judulproduk=="False"){%>
          <input name="judul_img_card_duapuluh" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="judul_img_card_duapuluh" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_duapuluh.judulproduk %>" required>
            <%}%>
          <h6>Deskripsi</h6>
          <% if(db_setting.all_img.img_duapuluh.deskripsiproduk=="False"){%>
          <input name="deskripsi_img_card_duapuluh" class="form-control" type="text" placeholder="Default input" required>
          <%} 
          else{
          %>
          <input name="deskripsi_img_card_duapuluh" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_duapuluh.deskripsiproduk %>" required>
            <%}%>
        <!-- batas  -->
        <h6>filter</h6>
        <% if(db_setting.all_img.img_duapuluh.filter=="False"){%>
        <input name="filter_img_card_duapuluh" class="form-control" type="text" placeholder="Default input" required>
        <%} 
        else{
        %>
        <input name="filter_img_card_duapuluh" class="form-control" type="text" placeholder="Default input" value="<%=db_setting.all_img.img_duapuluh.filter %>" required>
          <%}%>
        </form>
            </div>
            </div>      
            <!-- batasnya slide -->
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>
</html>