<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%=db_setting.judul_title%></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/violet_logo.png" rel="violet_logo">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--  Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><img src="img/logo_violet.png" alt=""></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <% if(db_setting.img_slide.img_satu !== "False") {%>
    <div class="carousel-item active" style="background-image: url(img/gambar_landing_page/<%=db_setting.img_slide.img_satu%>.jpg)">
    <div class="carousel-container">
      <div class="container">
        <% if(db_setting.img_slide.img_satu_tulisan.judulproduk !== "False"){  %>
          <h2 class="animate__animated animate__fadeInDown"><%= db_setting.img_slide.img_satu_tulisan.judulproduk %></h2>
          <% } %>
          <% if(db_setting.img_slide.img_satu_tulisan.deskripsi !== "False"){  %>
        <p class="animate__animated animate__fadeInUp"><%= db_setting.img_slide.img_satu_tulisan.deskripsi  %></p>
            <% } %>
        <a href="#hubungi" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="ri-whatsapp-line"></i>Hubungi Kami?</a>
      </div>
    </div>
  </div>

  <% } %>
  <% if(db_setting.img_slide.img_dua !== "False") {%>
    <div class="carousel-item" style="background-image: url(img/gambar_landing_page/<%=db_setting.img_slide.img_dua%>.jpg)">
    <div class="carousel-container">
      <div class="container">
        <% if(db_setting.img_slide.img_dua_tulisan.judulproduk !== "False"){  %>
          <h2 class="animate__animated animate__fadeInDown"><%= db_setting.img_slide.img_dua_tulisan.judulproduk %></h2>
          <% } %>
          <% if(db_setting.img_slide.img_dua_tulisan.deskripsi !== "False"){  %>
        <p class="animate__animated animate__fadeInUp"><%= db_setting.img_slide.img_dua_tulisan.deskripsi  %></p>
            <% } %>
        <a href="#hubungi" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="ri-whatsapp-line"></i>Hubungi Kami?</a>
      </div>
    </div>
  </div>

  <% } %>
  <% if(db_setting.img_slide.img_tiga !== "False") {%>
    <div class="carousel-item" style="background-image: url(img/gambar_landing_page/<%=db_setting.img_slide.img_tiga%>.jpg)">
    <div class="carousel-container">
      <div class="container">
        <% if(db_setting.img_slide.img_tiga_tulisan.judulproduk !== "False"){  %>
          <h2 class="animate__animated animate__fadeInDown"><%= db_setting.img_slide.img_tiga_tulisan.judulproduk %></h2>
          <% } %>
          <% if(db_setting.img_slide.img_tiga_tulisan.deskripsi !== "False"){  %>
        <p class="animate__animated animate__fadeInUp"><%= db_setting.img_slide.img_tiga_tulisan.deskripsi  %></p>
            <% } %>
        <a href="#hubungi" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="ri-whatsapp-line"></i>Hubungi Kami?</a>
      </div>
    </div>
  </div>

  <% } %>
  <% if(db_setting.img_slide.img_empat !== "False") {%>
    <div class="carousel-item" style="background-image: url(img/gambar_landing_page/<%=db_setting.img_slide.img_empat%>.jpg)">
    <div class="carousel-container">
      <div class="container">
        <% if(db_setting.img_slide.img_empat_tulisan.judulproduk !== "False"){  %>
          <h2 class="animate__animated animate__fadeInDown"><%= db_setting.img_slide.img_empat_tulisan.judulproduk %></h2>
          <% } %>
          <% if(db_setting.img_slide.img_empat_tulisan.deskripsi !== "False"){  %>
        <p class="animate__animated animate__fadeInUp"><%= db_setting.img_slide.img_empat_tulisan.deskripsi  %></p>
            <% } %>
        <a href="#hubungi" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="ri-whatsapp-line"></i>Hubungi Kami?</a>
      </div>
    </div>
  </div>

  <% } %>
  <% if(db_setting.img_slide.img_lima !== "False") {%>
    <div class="carousel-item" style="background-image: url(img/gambar_landing_page/<%=db_setting.img_slide.img_lima%>.jpg)">
    <div class="carousel-container">
      <div class="container">
        <% if(db_setting.img_slide.img_lima_tulisan.judulproduk !== "False"){  %>
          <h2 class="animate__animated animate__fadeInDown"><%= db_setting.img_slide.img_lima_tulisan.judulproduk %></h2>
          <% } %>
          <% if(db_setting.img_slide.img_lima_tulisan.deskripsi !== "False"){  %>
        <p class="animate__animated animate__fadeInUp"><%= db_setting.img_slide.img_lima_tulisan.deskripsi  %></p>
            <% } %>
        <a href="#hubungi" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="ri-whatsapp-line"></i>Hubungi Kami?</a>
      </div>
    </div>
  </div>

  <% } %>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->


  <main id="main">
    <% if(db_setting.judul_dan_deskripsi_produk.judul !== "False"){ %>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
    <% if(db_setting.judul_dan_deskripsi_produk.judul !== "False"){ %>
            <h2><%= db_setting.judul_dan_deskripsi_produk.judul  %></h2>
            <% } %>
    <% if(db_setting.judul_dan_deskripsi_produk.jenis_produk !== "False"){ %>
            <h3><%= db_setting.judul_dan_deskripsi_produk.jenis_produk  %></h3>
    <% } %>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
    <% if(db_setting.judul_dan_deskripsi_produk.deskripsi_produk !== "False"){ %>
            <p><%= db_setting.judul_dan_deskripsi_produk.deskripsi_produk %></p>
    <% } %>
            <ul>
              <li><i class="ri-check-double-line"></i> Nyaman Digunakan</li>
              <li><i class="ri-check-double-line"></i> Kualitas Terbaik</li>
              <li><i class="ri-check-double-line"></i> Style Modern</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <% } %>



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <% if(db_setting.filter.satu.nama !== "False" && db_setting.filter.satu.nama !== "False"){ %>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Semua</li>
              <% if(db_setting.filter.satu.nama !== "False" && db_setting.filter.satu.get_filter !== "False"){ %>
              <li data-filter=".filter-<%= db_setting.filter.satu.get_filter %>"><%= db_setting.filter.satu.nama %></li>
              <% } %>
              <% if(db_setting.filter.dua.nama !== "False" && db_setting.filter.dua.get_filter !== "False"){ %>
              <li data-filter=".filter-<%= db_setting.filter.dua.get_filter %>"><%= db_setting.filter.dua.nama %></li>
              <% } %>
              <% if(db_setting.filter.tiga.nama !== "False" && db_setting.filter.tiga.get_filter !== "False"){ %>
              <li data-filter=".filter-<%= db_setting.filter.tiga.get_filter %>"><%= db_setting.filter.tiga.nama %></li>
              <% } %>
              <% if(db_setting.filter.empat.nama !== "False" && db_setting.filter.empat.get_filter !== "False"){ %>
              <li data-filter=".filter-<%= db_setting.filter.empat.get_filter %>"><%= db_setting.filter.empat.nama %></li>
              <% } %>
              <% if(db_setting.filter.lima.nama !== "False" && db_setting.filter.lima.get_filter !== "False"){ %>
              <li data-filter=".filter-<%= db_setting.filter.lima.get_filter %>"><%= db_setting.filter.lima.nama %></li>
              <% } %>
              <% if(db_setting.filter.enam.nama !== "False" && db_setting.filter.enam.get_filter !== "False"){ %>
              <li data-filter=".filter-<%= db_setting.filter.enam.get_filter %>"><%= db_setting.filter.enam.nama %></li>
              <% } %>
            </ul>
          </div>
        </div>
        <% } %>

        <% if(db_setting.all_img.img_satu.img !== "False" && db_setting.all_img.img_satu.judulproduk !== "False" && db_setting.all_img.img_satu.deskripsiproduk !== "False" && db_setting.all_img.img_satu.filter !== "False"){ %>
        <div class="row portfolio-container">
            <!-- ini untuk warna army sekeleuarga -->
        <% if(db_setting.all_img.img_satu.img !== "False"){ %>
          <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_satu.filter %>">
            <div class="portfolio-wrap">
              <img src="img/gambar_landing_page/<%= db_setting.all_img.img_satu.img %>.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><%= db_setting.all_img.img_satu.judulproduk %></h4>
                <p><%= db_setting.all_img.img_satu.deskripsiproduk %> </p>
                <div class="portfolio-links">
                  <a href="img/gambar_landing_page/<%= db_setting.all_img.img_satu.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div> 
          <% } %>
          <% if(db_setting.all_img.img_dua.img !== "False"){ %>
            <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_dua.filter %>">
              <div class="portfolio-wrap">
                <img src="img/gambar_landing_page/<%= db_setting.all_img.img_dua.img %>.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><%= db_setting.all_img.img_dua.judulproduk %></h4>
                  <p><%= db_setting.all_img.img_dua.deskripsiproduk %> </p>
                  <div class="portfolio-links">
                    <a href="img/gambar_landing_page/<%= db_setting.all_img.img_dua.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  </div>
                </div>
              </div>
            </div> 
            <% } %>
            <% if(db_setting.all_img.img_tiga.img !== "False"){ %>
              <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_tiga.filter %>">
                <div class="portfolio-wrap">
                  <img src="img/gambar_landing_page/<%= db_setting.all_img.img_tiga.img %>.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><%= db_setting.all_img.img_tiga.judulproduk %></h4>
                    <p><%= db_setting.all_img.img_tiga.deskripsiproduk %> </p>
                    <div class="portfolio-links">
                      <a href="img/gambar_landing_page/<%= db_setting.all_img.img_tiga.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div> 
              <% } %>
              <% if(db_setting.all_img.img_empat.img !== "False"){ %>
                <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_empat.filter %>">
                  <div class="portfolio-wrap">
                    <img src="img/gambar_landing_page/<%= db_setting.all_img.img_empat.img %>.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                      <h4><%= db_setting.all_img.img_empat.judulproduk %></h4>
                      <p><%= db_setting.all_img.img_empat.deskripsiproduk %> </p>
                      <div class="portfolio-links">
                        <a href="img/gambar_landing_page/<%= db_setting.all_img.img_empat.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                      </div>
                    </div>
                  </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_lima.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_lima.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_lima.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_lima.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_lima.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_lima.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <% } %>
                  <% if(db_setting.all_img.img_enam.img !== "False"){ %>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_enam.filter %>">
                      <div class="portfolio-wrap">
                        <img src="img/gambar_landing_page/<%= db_setting.all_img.img_enam.img %>.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                          <h4><%= db_setting.all_img.img_enam.judulproduk %></h4>
                          <p><%= db_setting.all_img.img_enam.deskripsiproduk %> </p>
                          <div class="portfolio-links">
                            <a href="img/gambar_landing_page/<%= db_setting.all_img.img_enam.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <% } %>
                    <% if(db_setting.all_img.img_tuju.img !== "False"){ %>
                      <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_tuju.filter %>">
                        <div class="portfolio-wrap">
                          <img src="img/gambar_landing_page/<%= db_setting.all_img.img_tuju.img %>.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                            <h4><%= db_setting.all_img.img_tuju.judulproduk %></h4>
                            <p><%= db_setting.all_img.img_tuju.deskripsiproduk %> </p>
                            <div class="portfolio-links">
                              <a href="img/gambar_landing_page/<%= db_setting.all_img.img_tuju.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                            </div>
                          </div>
                        </div>
                    </div> 
                    <% } %>
                    <% if(db_setting.all_img.img_lapan.img !== "False"){ %>
                      <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_lapan.filter %>">
                        <div class="portfolio-wrap">
                          <img src="img/gambar_landing_page/<%= db_setting.all_img.img_lapan.img %>.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                            <h4><%= db_setting.all_img.img_lapan.judulproduk %></h4>
                            <p><%= db_setting.all_img.img_lapan.deskripsiproduk %> </p>
                            <div class="portfolio-links">
                              <a href="img/gambar_landing_page/<%= db_setting.all_img.img_lapan.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                            </div>
                          </div>
                        </div>
                    </div> 
                    <% } %>
                    <% if(db_setting.all_img.img_sembilan.img !== "False"){ %>
                      <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_sembilan.filter %>">
                        <div class="portfolio-wrap">
                          <img src="img/gambar_landing_page/<%= db_setting.all_img.img_sembilan.img %>.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                            <h4><%= db_setting.all_img.img_sembilan.judulproduk %></h4>
                            <p><%= db_setting.all_img.img_sembilan.deskripsiproduk %> </p>
                            <div class="portfolio-links">
                              <a href="img/gambar_landing_page/<%= db_setting.all_img.img_sembilan.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                            </div>
                          </div>
                        </div>
                    </div> 
                    <% } %>
                    <% if(db_setting.all_img.img_sepuluh.img !== "False"){ %>
                      <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_sepuluh.filter %>">
                        <div class="portfolio-wrap">
                          <img src="img/gambar_landing_page/<%= db_setting.all_img.img_sepuluh.img %>.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                            <h4><%= db_setting.all_img.img_sepuluh.judulproduk %></h4>
                            <p><%= db_setting.all_img.img_sepuluh.deskripsiproduk %> </p>
                            <div class="portfolio-links">
                              <a href="img/gambar_landing_page/<%= db_setting.all_img.img_sepuluh.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                            </div>
                          </div>
                        </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_sebelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_sebelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_sebelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_sebelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_sebelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_sebelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_duabelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_duabelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_duabelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_duabelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_duabelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_duabelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_tigabelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_tigabelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_tigabelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_tigabelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_tigabelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_tigabelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_empatbelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_empatbelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_empatbelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_empatbelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_empatbelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_empatbelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_limabelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_limabelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_limabelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_limabelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_limabelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_limabelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_enambelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_enambelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_enambelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_enambelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_enambelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_enambelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_tujubelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_tujubelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_tujubelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_tujubelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_tujubelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_tujubelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_lapanbelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_lapanbelas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_lapanbelas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_lapanbelas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_lapanbelas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_lapanbelas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_sembilanbelas.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_sembilan_belas.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_sembilan_belas.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_sembilan_belas.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_sembilan_belas.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_sembilan_belas.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div> 
                <% } %>
                <% if(db_setting.all_img.img_duapuluh.img !== "False"){ %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= db_setting.all_img.img_duapuluh.filter %>">
                    <div class="portfolio-wrap">
                      <img src="img/gambar_landing_page/<%= db_setting.all_img.img_duapuluh.img %>.jpg" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4><%= db_setting.all_img.img_duapuluh.judulproduk %></h4>
                        <p><%= db_setting.all_img.img_duapuluh.deskripsiproduk %> </p>
                        <div class="portfolio-links">
                          <a href="img/gambar_landing_page/<%= db_setting.all_img.img_duapuluh.img %>.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <% } %>
                
        </div>
        <% } %>
      </div>
    </section>
    
    
    <!-- End Portfolio Section -->
    <% if(db_setting.all_tabel.tabel_satu.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_satu.harga !== "False"){ %>
    <div class="container-sm">
      <div class="row justify-content-md-center">
    <% if(db_setting.all_tabel.tabel_satu.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_satu.harga !== "False"){ %>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="media">
                <i class="icon-frame success font-large-2"></i>
                <div class="media-body text-left">
                  <table id="tabel_gamis" class="table table shadow p-3 mb-5">
                    <h4><%= db_setting.all_tabel.tabel_satu.judul %></h4>
                      <thead>
                        <tr>
                          <th scope="col">Size</th>
                          <th scope="col">Harga</th>
                        </tr>
                      </thead>
                      <tbody>
                    <% if(db_setting.all_tabel.tabel_satu.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_satu.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_satu.tr_satu.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_satu.tr_satu.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_satu.tr_dua.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_dua.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_dua.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_dua.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_satu.tr_tiga.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_tiga.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_tiga.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_tiga.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_satu.tr_empat.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_empat.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_empat.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_empat.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_satu.tr_lima.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_lima.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_lima.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_lima.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_satu.tr_enam.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_enam.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_enam.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_satu.tr_enam.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_satu.tr_tuju.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_tuju.harga !== "False"){ %>
                            <tr>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_tuju.ukuran %></td>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_tuju.harga %></td>
                            </tr>
                          <% } %>
                          <% if(db_setting.all_tabel.tabel_satu.tr_lapan.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_lapan.harga !== "False"){ %>
                            <tr>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_lapan.ukuran %></td>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_lapan.harga %></td>
                            </tr>
                          <% } %>
                          <% if(db_setting.all_tabel.tabel_satu.tr_sembilan.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_sembilan.harga !== "False"){ %>
                            <tr>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_sembilan.ukuran %></td>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_sembilan.harga %></td>
                            </tr>
                          <% } %>
                          <% if(db_setting.all_tabel.tabel_satu.tr_sepuluh.ukuran !== "False" && db_setting.all_tabel.tabel_satu.tr_sepuluh.harga !== "False"){ %>
                            <tr>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_sepuluh.ukuran %></td>
                              <td><%= db_setting.all_tabel.tabel_satu.tr_sepuluh.harga %></td>
                            </tr>
                          <% } %>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>  
    <% } %>
    <% if(db_setting.all_tabel.tabel_dua.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_satu.harga !== "False"){ %>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <i class="icon-frame success font-large-2"></i>
              <div class="media-body text-left">
                <table id="tabel_gamis" class="table table shadow p-3 mb-5">
                  <h4><%= db_setting.all_tabel.tabel_dua.judul %></h4>
                    <thead>
                      <tr>
                        <th scope="col">Size</th>
                        <th scope="col">Harga</th>
                      </tr>
                    </thead>
                    <tbody>
                  <% if(db_setting.all_tabel.tabel_dua.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_satu.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_dua.tr_satu.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_dua.tr_satu.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_dua.tr_dua.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_dua.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_dua.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_dua.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_dua.tr_tiga.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_tiga.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_tiga.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_tiga.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_dua.tr_empat.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_empat.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_empat.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_empat.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_dua.tr_lima.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_lima.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_lima.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_lima.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_dua.tr_enam.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_enam.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_enam.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_dua.tr_enam.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_dua.tr_tuju.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_tuju.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_tuju.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_tuju.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_dua.tr_lapan.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_lapan.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_lapan.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_lapan.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_dua.tr_sembilan.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_sembilan.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_sembilan.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_sembilan.harga %></td>
                          </tr>
                        <% } %>
                        <% if(db_setting.all_tabel.tabel_dua.tr_sepuluh.ukuran !== "False" && db_setting.all_tabel.tabel_dua.tr_sepuluh.harga !== "False"){ %>
                          <tr>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_sepuluh.ukuran %></td>
                            <td><%= db_setting.all_tabel.tabel_dua.tr_sepuluh.harga %></td>
                          </tr>
                        <% } %>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>  
  <% } %>
  <div class="w-60"></div>
  <% if(db_setting.all_tabel.tabel_tiga.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_satu.harga !== "False"){ %>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <i class="icon-frame success font-large-2"></i>
            <div class="media-body text-left">
              <table id="tabel_gamis" class="table table shadow p-3 mb-5">
                <h4><%= db_setting.all_tabel.tabel_tiga.judul %></h4>
                  <thead>
                    <tr>
                      <th scope="col">Size</th>
                      <th scope="col">Harga</th>
                    </tr>
                  </thead>
                  <tbody>
                <% if(db_setting.all_tabel.tabel_tiga.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_satu.harga !== "False"){ %>
                    <tr>
                      <td><%= db_setting.all_tabel.tabel_tiga.tr_satu.ukuran %></td>
                      <td><%= db_setting.all_tabel.tabel_tiga.tr_satu.harga %></td>
                    </tr>
                  <% } %>
                  <% if(db_setting.all_tabel.tabel_tiga.tr_dua.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_dua.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_dua.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_dua.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_tiga.tr_tiga.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_tiga.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_tiga.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_tiga.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_tiga.tr_empat.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_empat.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_empat.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_empat.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_tiga.tr_lima.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_lima.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_lima.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_lima.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_tiga.tr_enam.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_enam.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_enam.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_tiga.tr_enam.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_tiga.tr_tuju.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_tuju.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_tuju.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_tuju.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_tiga.tr_lapan.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_lapan.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_lapan.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_lapan.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_tiga.tr_sembilan.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_sembilan.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_sembilan.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_sembilan.harga %></td>
                        </tr>
                      <% } %>
                      <% if(db_setting.all_tabel.tabel_tiga.tr_sepuluh.ukuran !== "False" && db_setting.all_tabel.tabel_tiga.tr_sepuluh.harga !== "False"){ %>
                        <tr>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_sepuluh.ukuran %></td>
                          <td><%= db_setting.all_tabel.tabel_tiga.tr_sepuluh.harga %></td>
                        </tr>
                      <% } %>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>  
<% } %>  
<% if(db_setting.all_tabel.tabel_empat.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_satu.harga !== "False"){ %>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <i class="icon-frame success font-large-2"></i>
          <div class="media-body text-left">
            <table id="tabel_gamis" class="table table shadow p-3 mb-5">
              <h4><%= db_setting.all_tabel.tabel_empat.judul %></h4>
                <thead>
                  <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Harga</th>
                  </tr>
                </thead>
                <tbody>
              <% if(db_setting.all_tabel.tabel_empat.tr_satu.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_satu.harga !== "False"){ %>
                  <tr>
                    <td><%= db_setting.all_tabel.tabel_empat.tr_satu.ukuran %></td>
                    <td><%= db_setting.all_tabel.tabel_empat.tr_satu.harga %></td>
                  </tr>
                <% } %>
                <% if(db_setting.all_tabel.tabel_empat.tr_dua.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_dua.harga !== "False"){ %>
                    <tr>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_dua.ukuran %></td>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_dua.harga %></td>
                    </tr>
                  <% } %>
                  <% if(db_setting.all_tabel.tabel_empat.tr_tiga.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_tiga.harga !== "False"){ %>
                    <tr>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_tiga.ukuran %></td>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_tiga.harga %></td>
                    </tr>
                  <% } %>
                  <% if(db_setting.all_tabel.tabel_empat.tr_empat.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_empat.harga !== "False"){ %>
                    <tr>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_empat.ukuran %></td>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_empat.harga %></td>
                    </tr>
                  <% } %>
                  <% if(db_setting.all_tabel.tabel_empat.tr_lima.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_lima.harga !== "False"){ %>
                    <tr>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_lima.ukuran %></td>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_lima.harga %></td>
                    </tr>
                  <% } %>
                  <% if(db_setting.all_tabel.tabel_empat.tr_enam.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_enam.harga !== "False"){ %>
                    <tr>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_enam.ukuran %></td>
                      <td><%= db_setting.all_tabel.tabel_empat.tr_enam.harga %></td>
                    </tr>
                  <% } %>
                  <% if(db_setting.all_tabel.tabel_empat.tr_tuju.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_tuju.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_tuju.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_tuju.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_empat.tr_lapan.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_lapan.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_lapan.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_lapan.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_empat.tr_sembilan.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_sembilan.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_sembilan.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_sembilan.harga %></td>
                      </tr>
                    <% } %>
                    <% if(db_setting.all_tabel.tabel_empat.tr_sepuluh.ukuran !== "False" && db_setting.all_tabel.tabel_empat.tr_sepuluh.harga !== "False"){ %>
                      <tr>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_sepuluh.ukuran %></td>
                        <td><%= db_setting.all_tabel.tabel_empat.tr_sepuluh.harga %></td>
                      </tr>
                    <% } %>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
<% } %>          
      </div>
    </div>
    <% } %>

  <!-- iniUNTUK TABEL HARGA -->

    <!-- ======= gratis ======= -->
    <section id="clients" class="clients section-bg" style="margin: 40px;">
      <div class="container">
        <div class="row justify-content-md-center">

          <div class="col col-lg-2">
            <img src="/img/potongan_ongkir.png" class="img-fluid" alt="">
          </div>

          <div class="col col-lg-2">
            <img src="/img/gratis_ongkir.png" class="img-fluid" alt="">
          </div>

          <div class="col col-lg-2">
            <img src="/img/cod.png" class="img-fluid" alt="">
          </div>

          <div class="col col-lg-2">
            <img src="/img/gratis_konsultasi.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
    <!-- gratis -->



        <!-- ======= bayar ======= -->
        <section id="clients" class="clients section-bg" style="margin: 40px;">
          <div class="container">
            <div class="row justify-content-md-center">
              <h2><i class="ri-truck-fill"></i>Pengiriman</h2>
              <div class="col col-lg-2">
                <img src="/img/logo_jnt.png" class="img-fluid" alt="">
              </div>
    
              <div class="col col-lg-2">
                <img src="/img/logo_jne.png" class="img-fluid" alt="">  
            </div>


        </div>
          </div>
        </section>
        <!-- bayar -->

        <!-- ======= pengiriman ======= -->
        <section id="clients" class="clients section-bg" style="margin: 40px;">
          <div class="container">
            <div class="row justify-content-md-center">
              <h2><i class="ri-bank-card-line"></i>Metode Pembayaran</h2>
              <div class="col col-lg-2">
                <img src="/img/logo_bca.png" class="img-fluid" alt="">
              </div>
    
              <div class="col col-lg-2">
                <img src="/img/logo_mandiri.png" class="img-fluid" alt="">  
            </div>


        </div>
          </div>
        </section>
        <!-- pengiriman -->

  <!-- ini untuk kirim wa -->
  <div class="container" id="form_wa" style="margin-top: 30px; margin-bottom: 10px; ">
    <div class="row">
      <div class="col align-self-center">
        <form action="/send_wa" method="get">
    <div class="card p-3 mb-5 bg-white rounded shadow p-3 mb-5">
      <div class="card-body">
        <div class="media">
          <i class="icon-note font-large-2"></i>
          <div class="media-body text-left">
                  <h2 id="hubungi"> Form Pembelian</h2>
                      <div class="row">
                        <div class="col">
                          <input type="text" id="wa_nama" class="form-control" placeholder="Nama Lengkap" name="wa_nama" required>
                        </div> 
                        <div class="col">
                          <input type="number" id="wa_nama" class="form-control" placeholder="Nomor telephone" name="nomer_telephone" required>
                        </div>            
          </div>
          </div>
        </form>
        </div>
      </div>
      <div class="col align-self-center">
        <button type="submit" id="tombol_send_wa" class="btn btn-success mb-2"><i class="ri-truck-line"></i>belanja sekarang + gratis ongkir</button>
        </div>
        <% if(db_setting.link_belanja !== "False"){ %>
        <div class="col align-self-center">
          <a href="<%=db_setting.link_belanja%>">Buka Shopee</a>
        </div>    
      <% } %>
    </div>
    </div>
</div>
</div>

<!-- terkhir kirim wa -->
<% if(db_setting.link_video !== "False"){ %>
    <center>
    <div class="yt">
      <iframe class="responsive-iframe" src="https://www.youtube.com/embed/<%=db_setting.link_video%>"></iframe>
    </div>
</center>
<% } %>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Develop violet</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        By <a href="https://mozaachmaddani.my.id/">Moza Achmad Dani</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>

</html>